Source: ricochet-refresh
Section: net
Priority: optional
Maintainer: Jason Rhinelander <jason@imaginary.ca>
Build-Depends: debhelper (>= 9), libprotobuf-dev, protobuf-compiler, qtdeclarative5-dev, qttools5-dev-tools
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/ricochet-refresh
#Vcs-Git: https://salsa.debian.org/debian/ricochet-refresh.git

Package: ricochet-refresh
Architecture: any
Depends: tor, ${shlibs:Depends}, ${misc:Depends},
    qml-module-qtgraphicaleffects
Description: Ricochet refresh
 Ricochet refresh
