#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export QT_SELECT=qt5

%:
	dh $@ --buildsystem=qmake --parallel

override_dh_auto_configure:
	dh_auto_configure -- DEFINES+=RICOCHET_NO_PORTABLE

override_dh_auto_install:
	dh_auto_install
	./debian/make-icons.sh
	# Remove the images that `make install` installs: the 1517x1517 png gets installed into 48x48
	# is just wrong, and the "scalable" svg file is actually just the same PNG stuffed into
	# an svg file because, um.
	rm -f debian/ricochet-refresh/usr/share/icons/hicolor/48x48/apps/ricochet_refresh.png
	rm -f debian/ricochet-refresh/usr/share/icons/hicolor/scalable/apps/ricochet_refresh.svg
